<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>User info page</title>
</head>
<body>
<h1>Welcome to the info page!</h1>
<form th:action="@{/saveUser}" th:method="POST" th:object="${user}">
    <table class="table">
        <tr>
            <td>Name:</td>
            <td><label>
                <input type="text" th:field="*{name}" th:value="${user.name}"/>
            </label></td>
        </tr>
        <tr>
            <td>Surname:</td>
            <td><label>
                <input type="text" th:field="*{surname}" th:value="${user.surname}"/>
            </label></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><label>
                <input type="text" th:field="*{email}" th:value="${user.email}"/>
            </label></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><label>
                <input type="text" th:field="*{password}" th:value="${user.password}"/>
            </label></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Create"></td>
        </tr>
    </table>
</form>
</body>
</html>